body {
  background-color: black;
  background-color: var(--background-color);
  margin: 0;
  color: #eee;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: "Open Sans Condensed", sans-serif;
}

body.hide-cursor {
  cursor: none;
}

.hidden {
  display: none !important;
}

#chat-container {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

#chat {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  margin-bottom: 100vh;
}

.reverse-order #chat {
  flex-direction: column;
  margin-top: 100vh;
  margin-bottom: 0;
}

#chat > div {
  padding: calc(var(--font-size) * 0.1) 1px calc(var(--font-size) * 0.1) calc(var(--font-size) * 0.188);
  line-height: 1.1em;
  border-bottom: #444 solid 1px;
  border-bottom-color: var(--separator-color);
}
#chat > div:nth-child(odd) {
  background-color: #111;
  background-color: var(--odd-background-color);
}

#chat .deleted {
  font-style: italic;
}

#chat .timestamp {
  margin-right: calc(var(--font-size) * 0.156);
}

#chat img {
  max-width: 100%;
  max-height: 50vh;
  max-height: var(--inline-images-height);
  color: inherit;
  margin: 0;
  vertical-align: baseline;
}

#chat img.user-image {
  vertical-align: bottom;
  padding: calc(var(--font-size) * 0.125);
}

#chat .chat-user:after {
  color: #eee;
  color: var(--text-color);
  font-weight: 300;
  margin-top: calc(var(--font-size) * -0.063);
}

#chat .chat-user:not(.action):after {
  content: ': ';
}

#chat .chat-user.action:after {
  content: '  ';
}

#chat .chat-user {
  color: #00a000;
  color: var(--user-color);
  font-weight: 700;
}

#chat .chat-user.broadcaster {
  color: #00ffff;
  color: var(--broadcaster-color);
}

#chat .chat-user.alert {
  color: #ffa500;
  color: var(--alert-color);
}

#chat .chat-user.staff {
  color: #00b5e0;
  color: var(--staff-color);
}

#chat .chat-user.bot {
  color: #e060a0;
  color: var(--bot-color);
}

#chat .chat-user.notable {
  color: #ffd040;
  color: var(--notable-color);
}

#chat .chat-user.highlight {
  color: #ffff00;
  color: var(--highlight-color);
}

#chat .chat-user.vip {
  color: #80e800;
  color: var(--vip-color);
}

#chat .chat-user.moderator {
  color: #8383f9;
  color: var(--moderator-color);
}

#chat.align-messages .chat-user {
  flex-basis: calc(var(--font-size) * 9);
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  padding-right: calc(var(--font-size) * 0.156);
}

#chat.align-messages .chat-user:hover {
  overflow: visible;
}

#chat.align-messages div {
  display: flex;
}

#chat.align-messages div span {
  display: block;
}

#chat > div.highlight, #chat > div.notice, #chat > div.subscription {
  padding-left: calc(var(--font-size) * 0.375);
  border-left: calc(var(--font-size) * 0.188) solid;
}

#chat.align-messages > div.highlight {
  padding-left: 0;
}

#chat > div.highlight {
  border-left-color: #ffff00;
  border-left-color: var(--highlight-color);
  background-color: #240528;
  background-color: var(--highlight-background-color);
}

#chat > div.notice {
  border-left-color: #eee;
  border-left-color: var(--notice-color);
  background-color: #eeeeee30;
  background-color: var(--notice-background-color);
}

#chat > div.channel {
  border-left-color: #0d86ff;
  border-left-color: var(--channel-color);
  background-color: #0d86ff30;
  background-color: var(--channel-background-color);
}

#chat a {
  color: inherit;
}

#chat .cheer, #chat .cheer img {
  margin-right: calc(var(--font-size) * 0.156);
  font-weight: 700;
}

#chat .cheer-1 {
  color: gray;
}
#chat .cheer-100 {
  color: cyan;
}
#chat .cheer-500 {
  color: blue;
}
#chat .cheer-1000 {
  color: red;
}
#chat .cheer-10000 {
  color: yellow;
}

#chat .emoticon {
  height: calc(var(--font-size) * 1.25);
  width: calc(var(--font-size) * 1.25);
  margin: calc(var(--font-size) * -0.188) 0px calc(var(--font-size) * -0.188) 0px !important;
}

#chat .counter {
  font-weight: bold;
  float: right;
  font-size: 80%;
  transition: 1s;
  padding-right: calc(var(--font-size) * 0.313);
}
#chat .counter.bump {
  transition: 0.1s;
  font-size: 150%;
}

#settings-wheel {
  position: absolute;
  z-index: 10;
  right: calc(var(--font-size) * 0.156);
  bottom: calc(var(--font-size) * 0.156);
  opacity: 0.3;
  cursor: pointer;
}
#settings-wheel:hover, #settings-wheel.open {
  opacity: 1;
}

.reverse-order #settings-wheel {
  top: calc(var(--font-size) * 0.156);
  bottom: auto;
}

#fps {
  position: absolute;
  right: calc(var(--font-size) * 0.469);
  top: calc(var(--font-size) * 0.469);
  border: 2px solid #eee;
  border-color: var(--text-color);
  border-radius: calc(var(--font-size) * 0.313);
  width: 3em;
  text-align: center;
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
}

.reverse-order #fps {
  top: auto;
  bottom: calc(var(--font-size) * 0.469);
}

.notifications {
  position: absolute;
  bottom: calc(var(--font-size) * 0.313);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.reverse-order .notifications {
  bottom: auto;
  top: calc(var(--font-size) * 0.313);
}

.notifications div {
  border: 2px solid #eee;
  border-color: var(--text-color);
  padding: calc(var(--font-size) * 0.156);
  margin: calc(var(--font-size) * 0.156);
  border-radius: calc(var(--font-size) * 0.313);
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
}

#settings {
  position: absolute;
  right: calc(var(--font-size) * 0.25);
  bottom: var(--font-size);
  left: calc(var(--font-size) * 0.25);
  margin-bottom: calc(var(--font-size) * 0.469);
  padding: calc(var(--font-size) * 0.313);
  max-height: 50vh;
  overflow-y: auto;
  border: 3px solid #444;
  border-color: var(--separator-color);
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
  z-index: 9999;
}

.reverse-order #settings {
  top: calc(var(--font-size) * 1.875);
  bottom: auto;
}

#settings h2 {
  margin-top: 0;
  margin-bottom: calc(var(--font-size) * 0.313);
  text-align: center;
}

#settings h3 {
  padding: calc(var(--font-size) * 0.188) calc(var(--font-size) * 0.188);
  background-color: #000;
  border-color: var(--background-color);
  margin: 0;
}

#settings > div {
  background-color: #111;
  background-color: var(--odd-background-color);
  padding: 0px;
}

#settings .fields {
  display: grid;
  grid-gap: calc(var(--font-size) * 0.313);
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--font-size) * 6.75), 1fr));
}

#settings .fields.style {
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--font-size) * 3.375), 1fr));
  font-size: 0.8em;
  line-height: 1.5em;
}

#settings .fields.style-1plus {
  grid-template-columns: calc(var(--font-size) * 3.375) auto;
  font-size: 0.8em;
  line-height: 1.5em;
}

#settings .fields.style-2plus {
  grid-template-columns: calc(var(--font-size) * 3.375) calc(var(--font-size) * 3.375) auto;
  font-size: 0.8em;
  line-height: 1.5em;
}

#settings .fields.style-fullwidthinput {
  grid-template-columns: auto;
  font-size: 0.8em;
  line-height: 1.5em;
}

#settings .fields.style-hotkeys {
  grid-template-columns: calc(var(--font-size) * 6.75) auto;
  font-size: 0.8em;
  line-height: 1.5em;
}

#settings .fields.style-1plus input[type="number"],
#settings .fields.style-1plus input[type="text"],
#settings .fields.style-1plus input[type="submit"],
#settings .fields.style-2plus input[type="number"],
#settings .fields.style-2plus input[type="text"],
#settings .fields.style-2plus input[type="submit"],
#settings .fields.style-fullwidthinput input[type="number"],
#settings .fields.style-fullwidthinput input[type="text"],
#settings .fields.style-fullwidthinput input[type="submit"] {
  width: calc(100% - var(--font-size) * 0.969) !important;
  font-size: 0.8em;
}

#settings .fields.style > div,
#settings .fields.style-1plus > div,
#settings .fields.style-2plus > div {
  text-align: center;
}

#settings .fields.style-1plus > div:last-of-type,
#settings .fields.style-2plus > div:last-of-type {
  text-align: left;
  padding-left: calc(var(--font-size) * 0.969);
}

#settings .subfield {
  margin-top: calc(var(--font-size) * 0.156);
  margin-left: calc(var(--font-size) * 1.25);
  border-left: calc(var(--font-size) * 0.156) solid #eee;
  border-color: var(--text-color);
  padding-left: calc(var(--font-size) * 0.313);
}

#settings input, #settings button {
  font-size: 0.625em;
  vertical-align: bottom;
  color: inherit;
}

#settings button:disabled {
  opacity: 0.5;
  cursor: default;
}

#settings input[type="checkbox"] {
  appearance: none;
  border: 2px solid #eee;
  border-color: var(--text-color);
  text-align: center;
  width: var(--font-size);
  height: var(--font-size);
  cursor: pointer;
}

#settings input[type="checkbox"]:checked::after {
  content: "\2713";
  font-weight: 700;
}

#settings input[type="number"], #settings input[type="text"], #settings input[type="submit"], #settings button {
  height: var(--font-size);
  padding: 0 calc(var(--font-size) * 0.156);
  border: 1px solid #6a6a6a;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
}

#settings button {
  cursor: pointer;
}

#settings input[type="number"]:invalid, #settings input[type="text"]:invalid {
  border-color: red;
}

#settings input[type="color"] {
  appearance: none;
  border: 0px;
  margin-top: calc(var(--font-size) * 0.125);
  background-color: black;
  background-color: var(--background-color);
  padding: 0px;
  height: calc(var(--font-size) * 1.1);
  width: calc(var(--font-size) * 1.563);
  cursor: pointer;
}

#settings select {
  font-size: 0.625em;
  color: #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
}

#curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
